body {background-color: white;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:black;
    width: 100%;
    
}


li{
    display: inline-block;
    padding-left: 25px;

}

li a{
    font-size: 17px;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: black;
}
li a:hover{
    background-color: white;
    color: black;
}

.background{
    width: 100%;
    
}

@font-face {
    src: url(../font/LeaveNoFingerprints.ttf);
    font-family:LeaveNoFingerprints;
    src: url(../font/Crime_Scene.ttf);
    font-family: crime_scene;

}

h1{ 
    text-align: center;
    font-family: crime_scene;
    font-size: 70px;   
}

h3{
    color:black;
    margin-top: 30px;
}

p{ 
    text-align: justify;
    display: center;
}

.cont{
    width: 100%;
    display: flex;
    justify-content: center;
    
}


.contshowdescr{
    display: flex;
    justify-content: center;    
}

.showdescr {
    background-color:black;
    flex-direction: row;
    width: 60% ;
    height: 1500px;
    padding: 60px;
    text-align: center; 

}

.aboutcm {
    color: white;
    text-align: justify;
    display: center;
    font-size: 17px;

}

.homeaboutlogo {
    width: 60%;
}

.aboutbox {
    color: white;
    font-family: crime_scene;
    font-size: 50px;
    display: block;
}

.footertext {
    color: white;
    text-align: center; 
    font-size: 15px;
    width: 100%;
    height: 60px;
    padding-top: 60px;
    background-color: black;
    
}